@tailwind base;
@tailwind components;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@tailwind utilities;

.transition-min-width {
    transition: min-width 0.5s ease-in-out;
}

.min-content {
    min-width: min-content;
}

.collapsed-width {
    min-width: 100px; /* Adjust this to your desired collapsed width */
}
